@using Web.Components.Layout
@page "/welcome"
@layout BlankLayout

<div class="w-100 border" style="height: 100px;">Header</div>
<div class="w-100 border" style="height: 500px;">Hero</div>
@code {

}
